# Cli interface
click==7.1.2

# Calculate asteroid distances
ephem==3.7.7.0

# Web service
Flask==1.1.2
Flask-restx==0.2.0
gunicorn==20.0.4

# Database
Flask-SQLAlchemy==2.4.3
psycopg2==2.8.6
sqlalchemy-utils==0.36.08

# Utilities
python-dateutil==2.8.1
requests==2.24.0
flask-bcrypt==0.7.1

# Testing
pytest==6.1.2
